@font-face {
    font-family: "Favorit Pro";
    src: url("~@/assets/fonts/favorit_pro/FavoritPro-Light.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Favorit Pro";
    src: url("~@/assets/fonts/favorit_pro/FavoritPro-Medium.otf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Favorit Pro";
    src: url("~@/assets/fonts/favorit_pro/FavoritPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Spectral";
    src: url("~@/assets/fonts/spectral/Spectral-Medium-Italic-Desktop.otf");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Spectral";
    src: url("~@/assets/fonts/spectral/Spectral-SemiBold-Italic-Desktop.otf");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

